.foodbox
{
    padding: 10px 10px;
}

.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.foodbox h1
{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.buybtn
{
    color: #F4EEA9;
    background-color: #064635;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}