<div class="container">
    
    <h1 class="text-center">ABOUT</h1>

    <p >
        Welcome to Café 88, a haven for food enthusiasts seeking a remarkable dining experience. Located in the heart of the city, 
        our restaurant offers a warm and inviting atmosphere that combines elegance with a touch of modernity. Whether you're looking 
        for a cozy spot to enjoy a leisurely meal or a vibrant ambiance for a gathering with friends, Café 88 is the perfect destination. <br> <br>
        At Café 88, we pride ourselves on providing exceptional service that goes above and beyond. Our attentive and knowledgeable staff are 
        dedicated to ensuring your dining experience is nothing short of extraordinary. From the moment you step through our doors until the 
        time you leave, you can expect personalized attention, prompt service, and a genuine commitment to your satisfaction. <br><br>

        <img src="https://img.freepik.com/premium-photo/chef-prepares-vegetables-frying-pan-cooking-healthy-vegetarian-food-meal-dark-background_192985-2250.jpg"> <br>

        Prepare your taste buds for a culinary journey like no other. Our skilled team of chefs crafts a menu that showcases a fusion 
        of international flavors, drawing inspiration from diverse culinary traditions. From classic favorites to innovative creations, 
        our dishes are meticulously prepared using the finest ingredients, with an emphasis on freshness and quality. Whether you're a meat 
        lover, vegetarian, or have specific dietary preferences, we offer a wide range of options to cater to every palate. <br><br>
        Our menu features a tantalizing array of starters, including artisanal bruschetta, delectable seafood ceviche, and savory 
        stuffed mushrooms. For the main course, indulge in succulent steaks cooked to perfection, flavorful pasta dishes bursting 
        with homemade sauces, or vibrant salads filled with seasonal produce. Don't forget to explore our chef's specials, where 
        you'll find unique creations that highlight the best of each season. <br><br>
        To complement your meal, Café 88 boasts an extensive beverage selection. 
        Enjoy a variety of handcrafted cocktails, fine wines from around the world, or opt for a refreshing mocktail or specialty 
        coffee creation. Our skilled baristas are always ready to create a bespoke beverage that perfectly complements your taste preferences.
    </p>

</div>